In [1]:
import os
import glob
import pandas as pd

In [2]:
# name = "prantika_bus_stand"
# name = "junction_mall"
name = "54ft_road"
# name = "dvc_more"
# name = "station"

In [3]:
parent_dir = r"../data/54ft/"
result_filename_pattern = f"*_test_result_{name}_zone.csv"
output_filename = f"Predictions_merged_54ft_{name}_zone.csv"

In [4]:
test_result_csv_paths = glob.glob(os.path.join(parent_dir, result_filename_pattern))

In [5]:
len(test_result_csv_paths)

5

In [6]:
def get_dfs(paths):
    all_dfs = []
    for path in paths:
        all_dfs.append(pd.read_csv(path))
    return all_dfs

In [7]:
def merge_dfs(df_list):
    all_df = pd.concat(df_list, axis = 1)
    all_df = all_df.loc[:, ~all_df.columns.duplicated()].copy()
    return all_df

In [8]:
dfs = get_dfs(test_result_csv_paths)

In [9]:
merged = merge_dfs(dfs)
merged

,instance_date,instance_start_time,instance_end_time,Prediction Is_Adhoc,Prediction Is_Bus_stop,Prediction Is_Congestion,Prediction Is_Signal,Prediction Is_Turn
0,09/14/2019,12:36:15,12:36:26,0,1,0,0,0
1,09/14/2019,12:36:38,12:36:39,1,0,0,0,0
2,09/14/2019,17:16:49,17:16:56,1,0,0,0,0
3,09/14/2019,17:17:33,17:17:40,1,1,0,0,0
4,09/14/2019,17:18:04,17:18:19,0,1,0,0,0
...,...,...,...,...,...,...,...,...
93,09/23/2019,17:06:17,17:06:22,1,0,0,0,0
94,09/23/2019,17:06:37,17:06:48,0,1,0,0,0
95,09/23/2019,17:07:12,17:07:27,0,1,0,0,0
96,09/23/2019,17:08:01,17:08:06,0,1,0,0,0
97,09/23/2019,17:08:14,17:08:26,1,1,0,0,0

In [10]:
merged.to_csv(os.path.join(parent_dir, output_filename), index=False)