In [1]:
import numpy as np
import pandas as pd 
import glob
from itertools import combinations

In [2]:
def time_zone_cal(s):
    hour=int(s.split(':')[0])
    if 6<hour<=9:
        time_zone='Early_Morning'
    elif 9<hour<=12:
        time_zone='Morning'
    elif 12<hour<=17:
        time_zone='Afternoon'
    elif 17<hour<=23:
        time_zone='Evening'
    return time_zone

In [3]:
date=['2019-09-14','2019-09-15','2019-09-16','2019-09-17','2019-09-20','2019-09-21','2019-09-23','All']
timezone=['Early_Morning','Morning','Afternoon','Evening','All']
zone=['54ft_road','dvc_more','junction_mall','prantika_bus_stand','station','54ft_test']#i.e All=54ft_test

In [4]:
from itertools import product

In [8]:
cross_prod=list(product(date,timezone,zone))

In [9]:
#glob.glob("../reports/54ft/**")

In [11]:
combinations()

240