In [1]:
from library.scoreCalculatorLibrary import calculate_score

In [2]:
import os
import pandas as pd

In [3]:
parent_dir = r"../data/54ft/"
results_csv_name = r"Predictions_merged_54ft.csv"
score_csv_name = r"Scores_54ft.csv"

column = 'instance_date'

In [4]:
result_df = pd.read_csv(os.path.join(parent_dir, results_csv_name))

In [5]:
date_group = result_df.groupby(column)

In [6]:
list(date_group.groups.keys())

['09/14/2019',
 '09/15/2019',
 '09/16/2019',
 '09/17/2019',
 '09/20/2019',
 '09/21/2019',
 '09/23/2019']

In [8]:
date_group.get_group('09/14/2019').head()

,instance_date,instance_start_time,instance_end_time,Prediction Is_Adhoc,Prediction Is_Bus_stop,Prediction Is_Congestion,Prediction Is_Signal,Prediction Is_Turn
0,09/14/2019,12:04:16,12:06:01,Not Adhoc,Not Bus_stop,Not Congestion,Not Signal,Turn
1,09/14/2019,12:06:36,12:06:47,Not Adhoc,Not Bus_stop,Not Congestion,Not Signal,Not Turn
2,09/14/2019,12:08:09,12:08:12,Adhoc,Not Bus_stop,Not Congestion,Not Signal,Not Turn
3,09/14/2019,12:09:05,12:09:15,Not Adhoc,Bus_stop,Not Congestion,Not Signal,Not Turn
4,09/14/2019,12:10:07,12:10:31,Not Adhoc,Bus_stop,Not Congestion,Signal,Not Turn

In [7]:
# converts hour:minute:seconds to seconds
def time_as_int(timestr):
    hh, mm, ss = timestr.split(":")
    time_int = (int(hh)*3600)+(int(mm)*60)+int(ss)
    return time_int

In [9]:
keys = list(date_group.groups.keys())
scores = []
for key in keys:
    df = date_group.get_group(key).copy()
    df["instance_start_time"] = df["instance_start_time"].apply(lambda x: time_as_int(x))
    df["instance_end_time"] = df["instance_end_time"].apply(lambda x: time_as_int(x))
    scores.append(calculate_score(df))

scores

[23.023070033763446,
 -9.932053166675068,
 -1.155882488088479,
 -46.923563685910274,
 1.591060781752729,
 -4.76504432284427,
 12.705653367491195]

In [10]:
assert len(scores) == len(keys)

In [11]:
[len(x) for x in [date_group.get_group(key) for key in keys]]

[110, 153, 239, 263, 148, 223, 224]

In [12]:
all_scores = {}
for date, score in zip(keys, scores):
    all_scores[date] = score

all_scores

{'09/14/2019': 23.023070033763446,
 '09/15/2019': -9.932053166675068,
 '09/16/2019': -1.155882488088479,
 '09/17/2019': -46.923563685910274,
 '09/20/2019': 1.591060781752729,
 '09/21/2019': -4.76504432284427,
 '09/23/2019': 12.705653367491195}